/**
 * Place your custom styles here.
 */
@font-face{
    font-family:"ProximaNova";
    src:url(/themes/custom/kinect_consulting/fonts/Proxima-Nova-Light.ttf) format("truetype");
}
@font-face{
    font-family:"ProximaNovaBold";
    src:url(/themes/custom/kinect_consulting/fonts/Proxima-Nova-Bold.otf) format("opentype");
}
body {
    margin-top: 0;
    font-family: ProximaNova,Arial,Helvetica,sans-serif;
}

/* TOP BAR*/
.navbar.container {
    max-width: none;
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(20,35,64,.07);
    padding: 0 4rem;
}
.logo.navbar-btn img {
    width: 100px;
}
.navbar-brand,
#block-kinect-consulting-account-menu {
    display: none;
}

.navbar-nav {
    float: right;
    bottom: 15px;
    position: absolute;
    right: 6%;
}
.navbar-default .navbar-nav > li > a {
    font-size: 12px;
    padding: 0 0.5rem;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0f73c4;
    outline: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #0fc477 !important;
    font-weight: 700;
    background: none;
}
#block-kinect-consulting-main-menu {
    clear: both
}

/* FOOTER */
.footer.container {
    background: #807f7f;
    color: #fff;
    padding:0;
    width: 100%;
    max-width: 1680px;
}
.region-footer {
    margin: 7rem;
}
.region-footer nav {
    text-align: center;
}
.region-footer .field--name-body {
    font-size: 12px;
}
.menu--footer.nav li {
    display: inline-block;
    margin: 0 0 .25em 1.5em;
}
.menu--footer.nav li a,
.menu--footer.nav li a:hover,
.menu--footer.nav li a:active {
    color: #FFF;
    font-size: 16px;
    background: none;
    outline: none;
}


/*  BUTTONS */
.agree-button:hover, .agree-button:focus,
.field--name-field-cta a:hover, .field--name-field-cta a:focus {
    background: #f0f0f1;
    border: 1px solid #0fc477;
    color: #0fc477;
}

.agree-button,
.field--name-field-cta a{
    background: #0fc477;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: initial;
    min-height: 38px;
    min-width: 170px;
    padding: 11px 20px 9px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
}


/* GPDR Cookies */
#sliding-popup .popup-content #popup-text p {
    font-size: 12px;
    line-height: 1.4;
}
#sliding-popup .open-settings {
    vertical-align: middle;
    display: inline-block;
    margin: 8px 12px;
    color: #0fc477;
    font-size: 18px;
    text-decoration: none;
}
#sliding-popup .open-settings:hover {
    color: #0fc477;
    text-decoration: none;
}
#sliding-popup .cookie-policy-form .vertical-tabs {
    margin-left: 0;
}

/* HERO */

.field--name-field-hero .hero-image {
    background-size: cover;
    height: 440px;
    position: relative;
}
.field--name-field-hero.split > .field--item {
    width: 50%;
    float:left;
}
.field--name-field-hero.split > .field--item:first-child .hero-image {
    background-position: right;
}
.field--name-field-hero.split > .field--item:last-child .hero-image {
    background-position: left;
}
.content-wrapper {
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
.field--name-field-cta {
    text-align: center;
}


/* BREAKPOINTS */
@media screen and (min-width: 960px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 0 0.5rem;
    }
}
@media screen and (min-width:1024px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 15px;
        padding: 0 1rem 5px;
    }

    .logo.navbar-btn img {
        width: 150px;
    }
}
@media screen and (min-width:1200px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 10px;
    }

    .logo.navbar-btn img {
        width: 200px;
    }
}
@media screen and (min-width:1360px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 18px;
    }
}

/* ImageText component */
.paragraph--type--image-text {
    margin-top: 5rem;
}

.paragraph--type--image-text .field--name-field-image img {
    max-height: 400px;
}

@media (min-width: 992px) {
    .image-text-vertical-align {
        display: flex;
        align-items: center;
    }
}
